@model IEnumerable<FitFlow.Models.Entities.UserRole>

@{
    ViewData["Title"] = "Index";
}

<h1>User Role</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedAt)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.LastName), 
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedAt)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UserRoleID" class="btn btn-warning btn-sm bi bi bi-pencil">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserRoleID" class="btn btn-success btn-sm bi bi-file-earmark-text">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserRoleID" class="btn btn-danger btn-sm bi bi-trash">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
