@model IEnumerable<FitFlow.Models.Entities.Attendance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary bi bi-plus-circle"> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Class
            </th>
            <th>
                Name
            </th>
            <th>
                Attendance Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.classID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AttendanceID" class="btn btn-primary btn-sm bi bi-file-earmark-text">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AttendanceID" class="btn btn-secondary btn-sm bi bi-card-text">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AttendanceID" class="btn btn-danger btn-sm bi bi-trash">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
