@model IEnumerable<FitFlow.Models.Entities.Role>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary bi bi-plus-circle"> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoleID" class="btn btn-warning btn-sm bi bi bi-pencil">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RoleID" class="btn btn-success btn-sm bi bi-file-earmark-text">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoleID" class="btn btn-danger btn-sm bi bi-trash">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
