@model IEnumerable<FitFlow.Models.Entities.Membership>

@{
    ViewData["Title"] = "Index";
}

<h1>Membership List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary bi bi-plus-circle"> Create Membership</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>  
                    @Html.DisplayFor(modelItem => item.Person.FirstName)  
                    @Html.DisplayFor(modelItem => item.Person.LastName)                 
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipType)
                </td>
                <td>
                    @item.StartDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MembershipID" class="btn btn-warning btn-sm bi bi-pencil"> Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MembershipID" class="btn btn-success btn-sm bi bi-file-earmark-text"> Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MembershipID" class="btn btn-danger btn-sm bi bi-trash"> Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
